
<ion-view view-title="Categories" hide-back-button="true">
  <ion-content>
	<header role="banner">
	  <nav class="nav" role="navigation">
	    <ul class="nav__list">
	      <li ng-repeat="category in categories">
	        <input id="group-{{ category.id }}" type="checkbox" hidden />
	        <label for="group-{{ category.id }}">
	        <span class="fa fa-angle-right"></span> {{ category.name }}</label>
	        <ul ng-if="category.sub" class="group-list">
	        	<a href="#/app/category_detail/{{ category.id }}">{{ category.name }}</a>
	          <li ng-repeat="sub1 in category.sub">
	          	<div ng-if="!sub1.sub">
	          		<a href="#/app/category_detail/{{ sub1.id }}">{{ sub1.name }}</a>
	          	</div>
	          	<div ng-if="sub1.sub">
	            <input id="sub-group-{{ sub1.id }}" type="checkbox" hidden />
	            <label for="sub-group-{{ sub1.id }}">
	            <span class="fa fa-angle-right">
	            </span>{{ sub1.name }}</label>
	            <ul class="sub-group-list">
	            <a href="#/app/category_detail/{{ sub1.id }}">{{ sub1.name }}</a>
	              <li ng-repeat="sub2 in sub1.sub">
	              	<a href="#/app/category_detail/{{ sub2.id }}">{{ sub2.name }}</a>
	              </li>
	            </ul>
	           </div>
	          </li>
	          
	          </li>
	        </ul>
			<ul class="group-list">
				<li ng-if="!category.sub">
	          		<a href="#/app/category_detail/{{ category.id }}">{{ category.name }}</a> 
				</li>
			</ul>
	      </li>
	    </ul>
	  </nav>
	</header>
  </ion-content>
</ion-view>