<ion-view title="{{ post.name }}">
    <ion-content padding="'true'" class="has-header has-footer">
        <ion-refresher pulling-text="Refreshing" on-refresh="refresh()">
        </ion-refresher>
        <div ng-if="post.type != 'video'">
            <img ng-src="{{ post.image }}" width="100%"></img>
        </div>
        <div ng-if="post.type == 'video'">
            <div id="fb-root"></div>
            <p compile="post.videoHtml"></p>
            <youtube width="100%" videoid="M7lc1UVf-VE" style="display: none;"></youtube>
            <center>
                Xin cảm ơn! hãy vào zolahot.com để xem video này và ủng hộ chúng tôi nhé.
            </center>
        </div>
        <div>
            <h4>{{ post.name }}</h4>
            <p><cite>{{ post.posted_at }}</cite></p>
            <p ng-bind-html="post.content"></p>
        </div>
        <ion-infinite-scroll
                ng-if="canShowMore"
                icon="ion-loading-c"
                on-infinite="getResultsPage({{ post.id }})"
                distance="10%">
        </ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="footer-bar">
        <div class="bar bar-footer bar-stable">
            <div class="row">
                <div class="col-10 pull-left">
                    <button class="button button-positive" ng-click="getResultsPage(post.previous)">
                        <i class="ion-ios-rewind-outline"></i>
                    </button>
                </div>
                <!-- <div class="col-10 col-offset-10">
                <a href="{{ post.link }}" target="_blank">
                <i class="ion-ios-paper">&nbsp;Full news</i>
                </a>

                </div> -->
                <div class="col-20 col-offset-20">
                    <button class="button button-positive" ng-click="share()">
                        Share
                    </button>

                </div>
                <div class="col-20 col-offset-20 pull-right">
                    <button class="button button-positive" ng-click="getResultsPage(post.next)">
                        <i class="ion-ios-fastforward-outline"></i>
                    </button>
                </div>
            </div>
        </div>

    </ion-footer-bar>
</ion-view>