<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
          <button class="button button-clear pull-right ion-search" ng-click="showSearch()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="#/app/news">
              <i class="ion-android-home">
                <span class="menu-text">Home</span>
              </i>
        </ion-item>
        <ion-item href="#/app/category">
              <i class="ion-ios-list">
                <span class="menu-text">Categories</span>
              </i>
        </ion-item>
        
        <ion-item menu-close ng-click="login()">
          <i class="ion-log-in">
            <span class="menu-text">Login</span>
          </i>
        </ion-item>
        <ion-item menu-close href="#/app/search">
          <i class="ion-search">
            <span class="menu-text">Search</span>
          </i>
        </ion-item>
        <ion-item menu-close href="#/app/topnews">
          <i class="ion-arrow-graph-up-right">
            <span class="menu-text">Top news</span>
          </i>
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
          <i class="ion-person-stalker">
            <span class="menu-text">About us</span>
          </i>
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
          <i class="ion-person-stalker">
            <a class="button button-assertive button-block button-outline" ng-click="showLogOutMenu()">Log Out</a>
          </i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
